@import url('modern-normalize.css');

:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #fff;
    --dairy: #fcfcfc;
}

body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #ffffff;
    margin: 0;
}
 ul {
margin: 0;
padding: 0;
 }
all-list {
margin: 0;
padding: 0;
}
h1, h2, h3 {
    margin: 0;

}
p { margin: 0;

}
a {
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

}

.main-header {
    border-bottom: 1px solid #e7e9fc;
    padding: 0;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.main-nav {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.main-logo {
    margin-right: 76px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
}

.logo-span {
    color: #2e2f42;
}

.nav-list {
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;

}

.nav-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.nav-link.current {
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.nav-link.current::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    margin-top: 4px;
}

.contact-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}

.main-address .address-list {
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;

}

.address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
    margin: 0;
}

.hero-section {
    background-image:
        linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url("../images/office.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    text-align: center;
    background-repeat: no-repeat;
    max-width: 1440px;
    background-color: #2e2f42;
    min-height: 600px;
    padding: 188px 0;
}

.container.column {
    flex-direction: column;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    margin: 0 auto 48px;
}

.hero-button {
    display: inline-flex;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    background-color: #4d5ae5;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    margin: 0 auto;
    display: flex;
    padding: 16px 32px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}

.goal-section {
    background-color: #ffffff;
    padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.goal-list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.goal-list li {
    margin-right: 24px;
}

.goal-list li:last-child {
    margin-right: 0;
}

.goal-item {
    width: calc((100% - 3 *24px) / 4);
}

.goal-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: left;
}

.goal-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0;
}

.goal-icon-box {
    display: flex;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
}

.goal-icon {
    fill: var(--navy-blue);

}

.team-section {
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
    flex-direction: column;

}

.team-section-title {
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-title {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;

}

.team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.team-item {
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    flex: 1 1 264px;
    overflow: hidden;

}

.social-icon {
    width: 16px;
    height: 16px;
    fill: var(--cloud);

}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-box {
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    background-color: #ffffff;
}

.team-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02;
    color: #434455;
    text-align: center;
    margin: 0;
}

.social-list {
    list-style: none;
    padding: 0;
    margin: 8px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;

}

.social-link {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
}

.portfolio-section {
    background-color: #ffffff;
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;

}

.portfolio-title {

    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;

}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.portfolio-item {
    overflow: hidden;
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    transform: translateY(0%);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08)
}

.portfolio-box {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    background-color: #ffffff;
}

.portfolio-thumb {
    position: relative;
    overflow: hidden;
}

.portfolio-desc {
    position: absolute;
    top: 0;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 100%;
    height: 100%;
    background-color: rgba(77, 90, 229, 1);
    color: #f4f4fd;
    padding: 40px 32px;
    transition: top 250ms ease-in-out;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-desc {
    transform: translateY(0%);
    top: 0;
}

.portfolio-item:hover .portfolio-box::before {
    bottom: 0;
}

.card-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: left;
}

.card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: left;
    margin: 0;
}

.main-footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;

        }
 

.footer-container {
    display: flex;
    padding: 0 15px; 

    }
        
.baseline {
    align-items: baseline;
    }
        
.footer-wrapper {
    display: block;
    margin-right: 120px;
    text-align: start;
       }
        
    .footer-social {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-self: flex-start;
    }
        
.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
    }
        
.logo-accent {
    color: #f4f4fd;
    }
        
.footer-logo-span {
    color: #f4f4fd;
        }
        
.footer-text {
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    margin-right: auto;
    justify-content: start;
     max-width: 264px;
    }
        
.footer-social-list {
     display: flex;
    gap: 16px;
    list-style: none;
     }
        
.footer-social-title {
    width: 100%;
    max-width: 264px;
    margin-right: auto;
    margin-bottom: 16px;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: 0.02em;
    line-height: 1.5;
    font-size: 16px;
    justify-content: start;
    }
        
.footer-social-link {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
        
.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31d0aa;
    }
        
.footer-social-icon {
    width: 24px;
    height: 24px;
    fill: #f4f4fd;
    }


.footer-form-container {
    margin-left: 80px;
    justify-content: start;
    position: relative;
    transform: TranslateY(40px);
   
    }
        
.footer-subscribe-text {
    position: absolute;
    top: -40px;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
        }        

.footer-subscribe-form {
    display: flex;
    gap: 24px;
    
     }

        
.footer-input {
    width: 264px;
    padding-left: 16px;
    padding-right: 16px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
                }
        
.footer-input::placeholder {
    color: #ffffff;
    }
        
.footer-button {
    display: flex;
    align-items: center;
    min-width: 165px;
    height: 40px;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    padding: 8px 24px;
        
     }
.footer-form-icon {
    margin-left: 16px;
}
   
.footer-icon:hover {
    background-color: var(--iris);
    }
    
                                   
 :root {
     --color-bg-modal: #fcfcfc;
     --color-backdrop: rgba(46, 47, 66, 0.4);
    --label-text-color: #8e8f99;
     --color-border-default: rgba(46, 47, 66, 0.4);
     --color-btn-bg: #e7e9fc;
     --color-btn-bg-hover: #404bbf;
     --color-btn-icon-fill: #2e2f42;
     --font-family: 'Inter', sans-serif;
    --accent-color: #404bbf;
    --icon-fill-color: #F4F4FD;
 }

 .backdrop {
     position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
     display: flex;
     align-items: center;
     justify-content: center;
     opacity: 0;
     pointer-events: none;
  
 }
 .backdrop.is-open {
     opacity: 1;
     visibility: visible;
     pointer-events: auto; }
 
 .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow:0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
    width: 408px;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

 }

 
 .modal__close {
     position: absolute;
     top: 24px;
     right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
     background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
     cursor: pointer;
     padding: 0;
    background-color: #e7e9fc;
 }

 .modal__close:hover,
 .modal__close:focus {
     background-color: #404bbf;
     border: none;
 }

 .modal__icon-close {
     width: 8px;
     height: 8px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--navy-blue);
 }

 
 .modal__close:hover .modal__icon-close,
 .modal__close:focus .modal__icon-close {
     fill: #ffffff;}

 
 .modal__description {
     font-size: 16px;
     color: #2e2f42;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 16px;

 }

 
 .modal__group {
    margin-bottom: 8px;
 }

 .modal__group-last {
     margin-bottom: 16px;
     }  

 .modal__label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--light-slate);
    font-family: var(--font-family);
    display: block;
    font-weight: 500;
    margin-bottom: 4px;

    
 }

 
 .modal__input-wrapper {
     position: relative;
 }

 .modal__input {
     height: 40px;
     width: 100%;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    font-size: 14px;
    border: 1px solid var(--navy-blue-modal);
     border-radius: 4px;
     transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .modal__input:focus {
     outline: none;
    border-color: #4D5AE5;
 }


 .modal__icon-input {
     position: absolute;
     left: 16px;
     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
     top: 50%;
     right: 12px;
     transform: translateY(-50%);
     pointer-events: none;

 }

 .modal__input:focus+.modal__icon-input {
    fill: #4D5AE5;
 }


 .modal__textarea {
     width: 100%;
    font-size: 12px;
     height: 120px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
     border-radius: 4px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
 }

 .modal__textarea:focus {
     outline: none;
    border-color: #4D5AE5;
    
 }

 .checkbox-group {
     margin-bottom: 24px;
     display: flex;
     align-items: center;
   
 }


 .visually-hidden {
     position: absolute !important;
     width: 1px !important;
     height: 1px !important;
     padding: 0 !important;
     margin: -1px !important;
     overflow: hidden !important;
     clip: rect(0, 0, 0, 0) !important;
     white-space: nowrap !important;
     border: 0 !important;
 }


 .checkbox-label {
     align-items: center;
     font-size: 12px;
     line-height: 1.17;
     letter-spacing: 0.04em;
     color: var(--label-text-color);
     user-select: none;
     cursor: pointer;

 }

 .checkbox-span {
     width: 16px;
     height: 16px;
     border: 1px solid rgba(46, 47, 66, 0.4);
     border-radius: 2px;
     display: inline-flex;
     align-items: center;
    fill: transparent;
     justify-content: center;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
         border 250ms cubic-bezier(0.4, 0, 0.2, 1),
         fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
     margin-right: 8px;
   
 }

 
 .checkbox-icon {
     fill: transparent;
 }


 .visually-hidden:checked+.checkbox-label .checkbox-span {
     background-color: var(--accent-color);
     border: none;
     fill: #F4F4FD;;
 }

 .visually-hidden:checked+.checkbox-label .checkbox-icon {
     fill: var(--icon-fill-color);
 }



 .privacy-link {
     color: var(--color-text-link);
     color: #4d5ae5;
     text-decoration: none;
     margin-left: 4px;
     transition: color 250ms ease;
 }

 .privacy-link:hover,
 .privacy-link:focus {
     text-decoration: underline;
     outline: none;
 }


 .modal-form-btn {
    display: block;
    height: 56px;
    letter-spacing: 0.04em;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
     min-width: 169px;
     margin: 0 auto;
     font-family: "Roboto", sans-serif;
     cursor: pointer;
     background-color: #4D5AE5;
     border: none;
     border-radius: 4px;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .modal-form-btn:hover,
 .modal-form-btn:focus {
     background-color: #3a43bb;
     outline: none;
 }