@import url('modern-normalize.css');

:root {
  --iris: #4d5ae5;
  --hover: #3a43bb;
  --white: #ffffff;
  --navyblue: #2e2f42;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --main-color: #2e2f42;
  --secondary-color: #434455;
  --accent-color: #4d5ae5;
  --accent-hover: #404bbf;
  --background-light: #f4f4fd;
  --icon-color: #f4f4fd;
  --black: #2e2f42;
  --grey-ligtest: rgba(46, 47, 66, 0.08);
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
  --blue: #4d5ae5;
  --lightest-blue: #f4f4fd;
  --blue: #4d5ae5;
  --dark-blue: #2e2f42;
}

body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
all-list {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3 {
  margin: 0;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.main-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

@media screen and (min-width: 768px) {
  .main-header .container {
    padding-top: 0;
  }
}

.container {
  width: 100%;
  max-width: 320;
  margin: 0 auto;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.content-wrapper {
  display: none;
}

@media screen and (min-width: 768px) {
  .content-wrapper {
    display: flex;
    gap: 8px;
    align-items: center;
  }
}

@media screen and (min-width: 1158px) {
  .content-wrapper {
    display: flex;
    gap: 40px;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: var(--iris);
  text-decoration: none;
}

.logo-span {
  color: var(--navyblue);
}

.nav-list {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.nav-link.current {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  margin-top: 4px;
}

.contact-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}
.main-address .address-list {
  font-style: normal;
  position: fixed;
  top: 439px;
  left: 16px;
  display: none;
  width: 100%;
  z-index: 1000;
  transition: right 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .main-address .address-list {
    max-width: 120px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-top: 0;
    position: static;
    font-style: normal;
    z-index: 0;
  }
}

@media screen and (min-width: 1158) {
  .main-address .address-list {
    display: flex;
    gap: 40px;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/* === BURGER === */
.burger-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
}

.menu-icon {
  stroke: var(--main-color);
  display: block;
}

/* === MOBILE MENU === */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--white);
  z-index: 999;
  padding: 72px 24px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(100%);
  transition: transform var(--transition);
  visibility: hidden;
}

.mobile-menu.is-open {
  transform: translateX(0);
  visibility: visible;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform var(--transition);
}

.mobile-menu-close:hover,
.mobile-menu-close:focus {
  transform: rotate(90deg);
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-nav a {
  font-size: 36px;
  font-weight: 700;
  text-decoration: none;
  color: var(--navyblue);
  transition: color var(--transition);
}

.mobile-nav a:hover,
.mobile-nav a:focus,
.mobile-nav a.current {
  color: var(--hover);
}

.mobile-contacts {
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mobile-contacts a.phone {
  font-weight: 700;
  font-size: 24px;
  color: var(--iris);
}

.mobile-contacts a.email {
  font-weight: 500;
  font-size: 18px;
  color: var(--slate);
  text-decoration: none;
}

.mobile-socials {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-socials a {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--iris);
  border-radius: 50%;
  transition: background-color var(--transition);
}

.mobile-socials a:hover,
.mobile-socials a:focus {
  background-color: var(--hover);
}

.mobile-socials svg {
  fill: var(--white);
}

/* hero section */

.hero-section {
  margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .hero-section {
    margin-bottom: 112px;
  }
}

@media screen and (min-width: 1158px) {
  .hero-section {
    margin-bottom: 188px;
  }
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 736px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.column {
  display: flex;
  flex-direction: column;
  margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .column {
    flex-direction: column;
  }
}

@media screen and (min-width: 1158px) {
  .column {
    flex-direction: column;
  }
}

.hero-section {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/retina/hero/herodesk.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 320px;
  height: 432px;
  text-align: center;
  margin: 0 auto;
  padding: 112px 0; /* щоб зберегти центрованість */
  display: flex;
  align-items: center;
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/retina/hero/heromob@2x.jpg');
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    width: 768px;
    height: 436px;
    padding: 136px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/retina/hero/herotab.jpg');
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1157px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/retina/hero/herotab@2x.jpg');
  }
}

@media screen and (min-width: 1158px) {
  .hero-section {
    width: 1440px;
    height: 600px;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/retina/hero/herodesk.jpg');
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1158px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/retina/hero/herodesk@2x.jpg');
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Hero Title */
.hero-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .hero-title {
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .hero-title {
    margin-bottom: 48px;
  }
}

/* Hero Button */
.hero-button {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
  border-radius: 4px;
  width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  margin: 0 auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--hover);
}

/* goal section */

.goal-section {
  background-color: #ffffff;
  padding: 96px 16px;
}

@media screen and (min-width: 1158px) {
  .goal-section {
    padding: 120px 0;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.goal-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .goal-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
}

@media screen and (min-width: 1158px) {
  .goal-list {
    flex-wrap: nowrap;
    column-gap: 24px;
  }
}

.goal-item {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .goal-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .goal-item {
    flex-basis: calc((100% - 72px) / 4);
  }
}

.goal-icon-box {
  display: none;
}

@media screen and (min-width: 1158px) {
  .goal-icon-box {
    display: flex;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    justify-content: center;
    align-items: center;
  }
}

.goal-icon {
  fill: var(--navy-blue);
  width: 64px;
  height: 64px;
}

.goal-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

@media screen and (min-width: 1158px) {
  .goal-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: start;
    margin-bottom: 8px;
  }
}

.goal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0;
  text-align: center;
}

@media screen and (min-width: 1158px) {
  .goal-text {
    font-weight: 400;
    text-align: start;
  }
}

:root {
  --main-color: #2e2f42;
  --secondary-color: #434455;
  --white: #ffffff;
  --background-light: #f4f4fd;
  --accent-color: #4d5ae5;
  --accent-hover: #404bbf;
  --icon-color: #ffffff;
}

.team-section {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
  flex-direction: column;
}

.team-section-title {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  font-weight: 700;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.team-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 28px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.team-item {
  width: 100%;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  flex: 1 1 264px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .team-item {
    flex-direction: row;
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .team-item {
    width: calc((100% - 72px) / 4);
  }
}

.social-icon {
  width: 16px;
  height: 16px;
  fill: var(--cloud);
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-box {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  background-color: #ffffff;
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02;
  color: #434455;
  text-align: center;
  margin: 0;
}

.social-list {
  list-style: none;
  padding: 0;
  margin: 8px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
}

.social-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.portfolio-section {
  padding: 96px 0;
  background-color: #ffffff;
  color: var(--black);
  text-align: center;
}

@media screen and (min-width: 1158px) {
  .portfolio-section {
    padding: 120px 0;
  }
}

.container {
  width: 100%;
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 15px;
  }
}

.portfolio-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 28px;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    gap: 72px 24px;
    grid-template-columns: repeat(2, 1fr); /* Tablet */
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-list {
    gap: 48px 24px;
    grid-template-columns: repeat(3, 1fr); /* Desktop */
  }
}

.portfolio-item {
  flex-direction: column;
  width: 100%;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) {
  .portfolio-item {
    flex-direction: row;
    width: 768px;
    height: 1224px;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-item {
    width: 1440px;
    height: 780px;
  }
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-desc {
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--lightest-blue);
  background-color: var(--blue);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-desc {
  transform: translateY(0%);
}

.portfolio-box {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  background-color: #ffffff;
}

.card-title {
  text-align: left;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: #2e2f42;
}

.card-text {
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0;
}
.main-footer {
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 1158px) {
  .main-footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.baseline {
  align-items: baseline;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
  padding: 0 15px;
}

@media screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: flex-start;
    row-gap: 72px;
    column-gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-container {
    flex-wrap: nowrap;
    gap: 0;
  }
}

.footer-wrapper {
  text-align: center;
  max-width: 264px;
}

@media screen and (min-width: 768px) {
  .footer-wrapper {
    text-align: start;
  }
}

@media screen and (min-width: 1158px) {
  .footer-wrapper {
    margin-right: 120px;
  }
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.logo-accent,
.footer-logo-span {
  color: #f4f4fd;
}

.footer-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .footer-text {
    margin: 0;
  }
}

.footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .footer-social {
    align-items: flex-start;
  }
}

@media screen and (min-width: 1158px) {
  .footer-social {
    margin-right: 80px;
  }
}

.footer-social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-social-title {
    text-align: left;
  }
}

.footer-social-list {
  display: flex;
  gap: 16px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-social-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-social-icon {
  width: 24px;
  height: 24px;
  fill: #f4f4fd;
}

.footer-form-container {
  width: 100%;
  max-width: 100%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-form-container {
    text-align: start;
  }
}

@media screen and (min-width: 1158px) {
  .footer-form-container {
    max-width: 453px;
  }
}

.footer-subscribe-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .footer-subscribe-form {
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 24px;
  }
}

.footer-label {
  width: 100%;
  max-width: 398px;
}

@media screen and (min-width: 768px) {
  .footer-label {
    max-width: 264px;
  }
}

.footer-input {
  width: 100%;
  height: 40px;
  padding: 0 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 768px) {
  .footer-input {
    width: 264px;
  }
}

.footer-input::placeholder {
  color: #ffffff;
}

.footer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.footer-form-icon {
  margin-left: 16px;
  fill: #ffffff;
}

:root {
  --color-bg-modal: #fcfcfc;
  --color-backdrop: rgba(46, 47, 66, 0.4);
  --label-text-color: #8e8f99;
  --color-border-default: rgba(46, 47, 66, 0.4);
  --color-btn-bg: #e7e9fc;
  --color-btn-bg-hover: #404bbf;
  --color-btn-icon-fill: #2e2f42;
  --font-family: 'Inter', sans-serif;
  --accent-color: #404bbf;
  --icon-fill-color: #f4f4fd;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 1000;
}

/* .backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
} */

.modal {
  position: relative;
  width: 288px;
  min-height: 623px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 16px 24px;
  transform: translateY(0);
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    padding: 72px 24px 24px;
  }
}

.modal__close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  transition: background-color 250ms ease, border 250ms ease;
  cursor: pointer;
  padding: 0;
}

.modal__close:hover,
.modal__close:focus {
  background-color: #404bbf;
  border: none;
}

.modal__icon-close {
  width: 8px;
  height: 8px;
  fill: var(--navy-blue);
  transition: fill 250ms ease;
}

.modal__close:hover .modal__icon-close,
.modal__close:focus .modal__icon-close {
  fill: #ffffff;
}

.modal__description {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal__group {
  margin-bottom: 8px;
}

.modal__group-last {
  margin-bottom: 16px;
}

.modal__label {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  margin-bottom: 4px;
  display: block;
}

.modal__input-wrapper {
  position: relative;
}

.modal__input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  font-size: 14px;
  border: 1px solid var(--navy-blue-modal);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms ease;
}

.modal__input:focus {
  border-color: #4d5ae5;
  outline: none;
}

.modal__icon-input {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  transition: fill 250ms ease;
}

.modal__input:focus + .modal__icon-input {
  fill: #4d5ae5;
}

.modal__textarea {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  border-radius: 4px;
  resize: none;
  outline: transparent;
  transition: border-color 250ms ease;
}

.modal__textarea:focus {
  border-color: #4d5ae5;
  outline: none;
}

.checkbox-group {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--label-text-color);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  transition: background-color 250ms ease, border 250ms ease, fill 250ms ease;
}

.checkbox-icon {
  fill: transparent;
}

.visually-hidden:checked + .checkbox-label .checkbox-span {
  background-color: var(--accent-color);
  border: none;
  fill: #f4f4fd;
}

.visually-hidden:checked + .checkbox-label .checkbox-icon {
  fill: var(--icon-fill-color);
}

.privacy-link {
  color: #4d5ae5;
  margin-left: 4px;
  text-decoration: none;
  transition: color 250ms ease;
}

.privacy-link:hover,
.privacy-link:focus {
  text-decoration: underline;
}

.modal-form-btn {
  display: block;
  width: fit-content;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  padding: 16px 32px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  transition: background-color 250ms ease;
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: #3a43bb;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    padding: 72px 24px 24px;
  }
}

@media screen and (min-width: 1158px) {
  .modal {
    width: 528px;
    padding: 72px 24px 24px;
  }
}
